body {
	font-family: 'Open Sans', sans-serif;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	
}

nav li{
	list-style-type: none;
	margin: 0.5rem;
	display: inline;
}

/*nav .nav , nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
*/

#intro{
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2 , #intro p {
	margin-bottom: 1rem;
}

#intro button{
	font-weight: bold;
	padding: 1rem;
	border-radius: 25px;
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
}

#intro button:hover {
	background-color: green;
}

#suceed-info{
	padding: 2rem 10% 3rem;
	text-align: center;
}

#suceed-info h2{
	margin-bottom: 1rem;
} 
#suceed-info h3{
	margin-bottom: 1rem;
} 


#suceed-info .card{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	min-height: 135px;
}

footer{
	padding: 0.7rem;
}
footer span {
	margin: 0 0.5rem;
}